# System files
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Remix
/.cache
/build
/public/build

# Environment variables
.env

# Database
*.db
*.db-journal
